{% extends 'base.html.twig' %}
{% block titrePage %}Formations proposées par l'IUT{% endblock %}
{% block contenuPage %}
<a href="{{path('prostages_accueil')}}">
  <div class="card text-center" style="width: 20rem">
    <div class="card-body">
      <h5 class="card-title align-middle">DUT Informatique</h5>
    </div>
  </div>
</a>
<a href="{{path('prostages_accueil')}}">
  <div class="card text-center" style="width: 20rem">
    <div class="card-body">
      <h5 class="card-title align-middle">DU TIC</h5>
    </div>
  </div>
</a>
<a href="{{path('prostages_accueil')}}">
  <div class="card text-center" style="width: 20rem">
    <div class="card-body">
      <h5 class="card-title align-middle">LP Multimédia</h5>
    </div>
  </div>
</a>
{% endblock %}
