{% extends 'base.html.twig' %}
{% block contenuPage %}

{% set etatLigne = 0 %}
<div class="row">
{% for stageCourant in stages %}

  {# Si on a 4 cartes sur la ligne, on saute d'une ligne #}
  {% if etatLigne >= 4 %}
    </div>
    <div class="row mt-4">
      {% set etatLigne = 0 %}
  {% endif %}

  <div class="col-sm-3">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">{{stageCourant.intitule}}</h5>
        <p class="card-text">
          Entreprise: {{stageCourant.entreprise.nom}}<br>
          Formations:
          {# On affiche toutes les formations #}
          {% for formation in stageCourant.getFormations %}
            {{formation.nom}}
            {% if loop.last == false %}
              ,
            {% endif %}
          {% endfor %}

        </p>
        <a href="{{path('prostages_stage',{id:stageCourant.id})}}" class="btn btn-primary">Afficher</a>
      </div>
    </div>
  </div>

  {% set etatLigne = etatLigne + 1 %}

{% endfor %}
</div>
{% endblock %}
